/* 
    Created on : Dec 10, 2015, 2:42:17 PM
    Author     : Wellington
*/

*{
    padding: 0;
    margin: 0;
}
body{
    font: 10px Helvetica,Arial,Sans-serif;
    background-color: #a4aba4;
}
form{
    padding: 20px;
}

.texto{
    width: 400px;
}

